{% extends 'base.html' %}
{% load static %}
{% block head%}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}" media="screen">
{% endblock head%}

{% block content %}
  <section class="u-clearfix u-image u-section-1" id="carousel_1c32" data-image-width="1620" data-image-height="1080">
      <div class="u-clearfix u-sheet u-valign-middle-sm u-valign-middle-xl u-valign-middle-xs u-sheet-1">
        <div class="u-align-left u-container-style u-expanded-width-xs u-group u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h3 class="u-text u-text-default u-text-1"> "Plan Your Day Better, Get Your Life Organized"</h3>
            <h1 class="u-custom-font u-font-roboto-condensed u-text u-text-2"> Quik And Easy To Use, Anytime, Anywhere!</h1>
            <p class="u-text u-text-default u-text-3"> TASKMATE Lets You Keep Track Of Your Task in One Place</p>
            <a href="{% url 'todolist' %}" class="u-active-black u-border-1 u-border-active-black u-border-grey-dark-1 u-border-hover-black u-btn u-btn-rectangle u-button-style u-hover-black u-none u-btn-1">Get STARTED!</a>
          </div>
        </div>
      </div>
    </section>
{% endblock content %}
