{% extends 'base.html' %}

{% block  title%}
    <title> Todo List Manage - Taskmate</title>
{% endblock title %}

{% block content %}
<div class="container">
     </br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
    {% endif %}
      <form method="POST">
    {% csrf_token %}
  <div class="d-flex">
      <input type="text" class="form-control d-inline-block" name="task" placeholder="New Task">
      <button type="submit" class="btn btn-primary d-inline-block">Add</button>
  </div>
</form>
    <br>
<table class="table table-bordered text-center " >
    <thead class="table-dark">
        <tr>
            <th class="col-7">Task</th>
            <th class="col-1">Done</th>
            <th class="col-1">Edit</th>
            <th class="col-1">delete</th>
        </tr>
    </thead>
     <tbody>

    <div class="container">
    {% if all_tasks %}
        {% for obj in all_tasks %}
            {% if obj.done %}
               <tr class="table-success">
                    <th class="col-7">{{obj.task}}</th>
                        <td class="col-1"><a href="{% url 'pending_task' obj.id %}"><button type="button" class="btn btn-light">Done</button></a></td>
                        <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-secondary">Edit</button></a></td>
                        <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a></td>
                </tr>
            {% else %}
                <tr>
                    <th class="col-7">{{obj.task}}</th>
                        <td class="col-1"><a href="{% url 'complete_task' obj.id %}"><button type="button" class="btn btn-success">Active</button></a></td>
                        <td class="col-1"><a href="{% url 'edit_task' obj.id %}"><button type="button" class="btn btn-secondary">Edit</button></a></td>
                        <td class="col-1"><a href="{% url 'delete_task' obj.id %}"><button type="button" class="btn btn-danger">Delete</button></a> </td>
                    </tr>
            {% endif %}

        {% endfor %}
    {% endif %}
    </div>
     </tbody>
</table>
    <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>

      {% if all_tasks.has_previous%}
        <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.previous_page_number }}">{{ all_tasks.previous_page_number }}</a></li>
        {% endif %}

    <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.number }}">{{ all_tasks.number }}</a></li>

      {% if all_tasks.has_next%}
         <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.next_page_number }}">{{ all_tasks.next_page_number }}</a></li>
        {% endif %}

    <li class="page-item"><a class="page-link" href="?pg={{ all_tasks.paginator.num_pages }}">>></a></li>
  </ul>
</nav>
</div>
{% endblock %}