{% extends 'base.html' %}

{% block  title%}
    <title> Todo List Manage - Taskmate</title>
{% endblock title %}

{% block content %}
<div class="container">
     </br>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
      {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
    {% endif %}
      <form method="POST">
    {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" name="task" placeholder="New Task">
  </div>
  <button type="submit" class="btn btn-primary">Add</button>
</form>
    <br>
<table class="table table-bordered" >
    <thead>
        <tr>
            <th scope="col">Task</th>
            <th scope="col">Done</th>
            <th scope="col">Edit</th>
            <th scope="col">delete</th>
        </tr>
    </thead>
     <tbody>

    <div class="container">
    {% if all_tasks %}
        {% for obj in all_tasks %}
            {% if obj.done %}
               <tr class="table-success">
                    <th scope="row">{{obj.task}}</th>
                        <td>Mark this Pending</td>
                        <td><a href="{% url 'edit_task' obj.id %}">Edit</a></td>
                        <td><a href="{% url 'delete_task' obj.id %}">Delete</a></td>
                </tr>
            {% else %}
                <tr>
                    <th scope="row">{{obj.task}}</th>
                        <td>Mark this Completed</td>
                        <td><a href="{% url 'edit_task' obj.id %}">Edit</a></td>
                        <td><a href="{% url 'delete_task' obj.id %}">Delete</a> </td>
                    </tr>
            {% endif %}

        {% endfor %}
    {% endif %}
    </div>
     </tbody>
</table>
</div>
{% endblock %}