{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title%}
    <link rel="stylesheet" href="../../templates/css/login.css" media="screen">
{% endblock title%}

{% block content %}
    <div class="u-grey-5" style="height: 1000px">
     <div class="u-clearfix u-sheet u-sheet-1" style="margin-bottom: 40px">
         <h3 class="u-custom-font u-font-montserrat u-text u-text-2" style="text-align: center">REGISTER</h3>
         <h6 class="u-text u-text-1" style="text-align: center" >FOR SUBMIT PLS REGISTER</h6>
        <div class="u-border-10 u-border-palette-3-base u-expanded-width u-line u-line-horizontal u-line-1"></div>
      </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert" style="width: 80%">
      {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        {% endfor %}
    {% endif %}

        <form method="POST" style="max-width: 500px ; width: 80% ; align-items: center ; justify-content: center ; margin: auto; " >
            {% csrf_token %}
            {{register_form|crispy}}
            <button class="btn btn-primary">Submit</button>
        </form>

     </div>
    </div>
{% endblock content %}
